@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,500;1,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;

}
a {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
}
body {
	
	font-family: 'Poppins', sans-serif;
	color: #E0E2E6;
	background: #18191A;
}

header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background: #242526;
	padding: 7px;
	border-bottom: 2px solid #3A3B3C;
	nav {
		
		cursor: pointer;
		width: 98%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;
		.brand-name {
			h1 {
				font-size: 30px;
			font-weight: 600;
            cursor: pointer;
			}
		}
		.search-people {
			width: 400px;
			padding: 10px;
           background: #393A3B;
          display: flex;
		  align-items: center;
		//   gap: 0.5rem;
		  border-radius: 30px;
		 &:hover {
			background: #4E4F50;
		 }
		
		  i {
			font-size: 16px;
		  }
		  input {
			width: 100%;
			height: 100%;
			background: transparent;
			border: none;
			outline: none;
			color: #FFFFFF;
			text-transform: capitalize;
		    margin: 0 10px;
			font-size: 15px;
		  }
		  ::placeholder {
			font-size: 14px;
			color: #B8BBBF;
		  }
		}
		.header-icon {
			gap: 50px;
			ul {
				display: flex;
				align-items: center;
                gap: 0.7rem;

				li {
					
					.icons {
					position: relative;
					font-size: 18px;
					display: flex;
					align-items: center;
					padding: 10px;
					border-radius: 50%;
					background: #3A3B3C;
                    transition: 0.3s all ease;
					&:hover {
						background: #4E4F50;
					}
					span {
					font-size: 12px;
                     position: absolute;
					 background: red;
					 padding:0 5px;
					 border-radius: 50px;
					 bottom: 28px;
					 left: 23px;
					}
					}

				
				  .admin {
					
					img {
						position: relative;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						overflow: hidden;
						outline: 2px solid #FFFFFF;
					}
					i {
						position: absolute;
						font-size: 16px;
						border-radius: 50px;
                        top: 32px;
						right: 22px;
						background: #3A3B3C;
						transition: 0.3s all ease;
						&:hover {
							background: #4E4F50;
						}
					}
				  }
				// chat design start
				
				  position: relative;
					.fb-message {
						&.active {
							opacity: 1;
							visibility: visible;
						}
						// overflow: auto;
					  z-index: 999;
					  position: absolute;
					  width: 380px;
					  height: 100vh;
					  overflow: auto;
					  background: #242526;
					  top: 52px;
					  right: -110px;
                      padding: 10px;
					  opacity: 0;
					  visibility: hidden;
					//   margin: 10px;
					  .message-header {
						display: flex;
						justify-content: space-between;
						text-align: center;
						padding: 5px 14px ;
						.item {
							// padding: 10px;
							h3 {
								font-size: 25px;
							}
							ul {
								li {
									display: flex;
									align-items: center;
									i {
										font-size: 22px;
										
										padding: 8px;
										border-radius: 50px;
                                     &:hover {
										background: #3A3B3C;
									 }

									}
								}
							}
						}
					  }
					  .user-search {
						margin-left: 15px;
						padding: 10px;
						width: 350px;
						height: auto;
						display: flex;
						text-align: center;
						background: #3A3B3C;
						border-radius: 30px;
						i {
                          font-size: 18px;
						}
						input {
							width: 100%;
							height: 100%;
							background: transparent;
							border: none;
							outline: none;
							color: #FFFFFF;
							text-transform: capitalize;
							margin: 0 10px;
							font-size: 16px;
							
						}
						::placeholder {
                         color: #B8BBBF;
						}
					  }
					  .inbox-communities {
						display: flex;
						text-align: center;
						gap: 3rem;
						padding: 7px 15px;
						h4 {
							font-size: 18px;
							padding: 10px;
							background: #263951;
							color: #4395FF;
							border-radius: 30px;
							&:hover {
								background: #3C4D63;
							}
						}
						span {
							font-size: 17px;
							padding: 10px 15px;
							border-radius: 30px;
							&:hover {
								background: #393A3B;
							}
							
						}
					  }
					  .chat {
						&:hover {
							background: #3A3B3C;
						}
						border-radius: 10px;
						display: flex;
						align-items: center;
						padding: 7px 15px ;
						// margin: 15px 0;
						gap: 0.4rem;
						transition: 0.4s all ease;
						.user-img {
							img {
								width: 60px;
								height: 60px;
								border-radius: 50px;
							    position: relative;
							}
							span {
								position: absolute;
								background: #46AB5E;
								padding: 8px;
								top: 50px;
								left: 54px;
								border-radius: 50px;
								outline: 2px solid #242526;
							}
						}
						.user-name {
							h5 {
								font-size: 18px;
						}
						span {
							font-size: 14px;
							color: #ACBBA2;
						}
					  }
					  position: relative;
					  &:hover .more {
						opacity: 1;
						visibility: visible;
					  }
					  .more {
                      position: absolute;
					  right: 10px;
					  text-align: center;
					  background: #393A3B;
					  outline: 2px solid #4E4F50;
					  padding: 3px 5px;
					  border-radius: 50%;
					  opacity: 0;
					  visibility: hidden;
					  i {
						font-size: 22px;
					  }
					  }
					  
					}
				}
					// chat design end


					// notification design start
					.fb-notification {
						&.active {
							opacity: 1;
							visibility: visible;
						}
						position: absolute;
						width: 380px;
						height: 100vh;
						overflow: auto;
						background: #242526;
						top: 52px;
						right: -60px;
						padding: 10px;
						opacity: 0;
						visibility: hidden;
                        
						.noti-main {
							display: flex;
							text-align: center;
							justify-content: space-between;
                            padding: 5px 10px;
                            i {
								font-size: 25px;
								padding: 5px;
								border-radius: 50px;
								&:hover {
									background: #4E4F50;
									
								}
							}
						}
						.noti-header {
							display: flex;
							text-align: center;
							justify-content: space-between;
							padding: 5px 10px;
							h4 {
								font-size: 16px;
							}
							span {
						    color: #2466bd;
							padding: 5px;
							&:hover {
								background: #3A3B3C;
								
							}
							}

						}
						.notification {
							display: flex;
							gap: 0.4rem;
							padding: 10px;
							border-radius: 10px;
						    position: relative;
							// align-items: center;
							&:hover{
								background: #3A3B3C;
								
							}

								// &:hover .more {
									
								// 	opacity: 1;
								// 	visibility: visible;
								// }
						
							
							// align-items: center;
							.noti-img {
							   
								img {
									width: 60px;
									height: 60px;
									border-radius: 50px;
									position: relative;
									// outline: 1px solid #B8BBBF;
									// object-fit: cover;
								}
								
								i {
									position: absolute;
									bottom: 35px;
									left: 55px;
									color: #2466bd;
									font-size: 20px;
									background: #4395FF;
									color: #E0E2E6;
									padding: 3px;
									border-radius: 50px;
								}
								.love {
									background: red;
								}
								.comment {
									background: #46AB5E;
								}
							}
							.noti-name {
								margin-top: -3px;
								p {
									font-size: 14px;
                           span {
                             font-size: 18px;
							 font-weight: 500;
							 
						   }
						   
							small {
								font-size: 14px;
								color: #2466bd;
							}
						   }
							}
							
							}
						}
                        // notification design end
						
						// profile design strat
						.fb-profile {
							&.active {
								opacity: 1;
								visibility: visible;
							}
							h1 {
								background: #3A3B3C;
								padding: 1px;
								margin: 5px 0;
							}
                         position: absolute;
						 width: 380px ;
						 height: 75vh;
						 overflow: auto;
						 top: 55px;
						 right: 0px;
						 background: #242526;
						 padding: 10px 15px;
						 border-radius: 10px;
						 opacity: 0;
						 visibility: hidden;
						 .profile-header {
							&:hover {
								background: #393A3B;
								border-radius: 10px;
							}
							padding: 10px;
							display: flex;
                            align-items: center;
							justify-content: space-between;
							
							
							.img-thum {
								display: flex;
								align-items: center;
								gap: 0.4rem;
								img {
									width: 45px;
									height: 45px;
									border-radius: 50px;
									outline: 1.5px solid #E0E2E6;
								}
								h3 {
									font-size: 20px;
								}
							}
							.page {
								img {
									width: 40px;
									height: 40px;
									border-radius: 50px;
									outline:1px solid #B8BBBF;
								}
							}
						 }
                         .profile-main {
							&:hover {
								background: #393A3B;
								border-radius: 10px;
							}
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 10px 15px;
							h5 {
								font-size: 16px;
								color: #2466bd;
							}
							span {
								background: red;
								padding: 0px 5px;
								border-radius: 50%;
							}
						 }
                            h6 {
								background: rgb(26, 25, 25);
								padding: 2px;
								margin: 5px 0;
								
							} 
						 .profile-detlis {
							&:hover {
								background: #393A3B;
								border-radius: 10px;
							}
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding:7px 5px ;
							.detlis-main {
							display: flex;
							align-items: center;
							justify-content: space-between;
						    gap: 0.4rem;
							i {
								font-size: 26px;
								background-color: #3A3B3C;
								padding: 4px 6px;
								border-radius: 50px;
							}
							h4 {
								font-size: 15px;
								color: #B8BBBF;
							}
							}
							.arrow {
								i {
									font-size: 35px;
								}
							}
						 }
						 .profile-end {
							span {
								font-size: 15px;
								color: #B8BBBF;
							}
						 }

						}
						// profile design end
					}
					
				}
				
			}
           
		   }
		}
		// main part design start
		.wrap {
			width: 100%;
			position: relative;


			.left-sidebar {

				&::-webkit-scrollbar {
					width: 8px;
					
				}
				&::-webkit-scrollbar-track {
					background: #393A3B;
				}
				&::-webkit-scrollbar-thumb {
					background: #B8BBBF;
					border-radius: 10px;
				}
				
			   top: 63px;
				position: fixed;
				width: 340px;
				height: 100vh;
				overflow: auto;
				left: 0;
				// top: 10px;
				background: #18191A;
				padding: 10px 20px 80px;
                 
				ul {
					li {
						cursor: pointer;
						border-radius: 5px;
						
						&:hover {
							background: #3A3B3C;
						}
						transition: 0.2s all ease;
						.flex {
							padding: 10px;
							display: flex;
							align-items: center;
							 gap: 1rem;
							
							//  margin: 10px 0;
							//  margin-bottom: 20px;
							 i {
								color: #2466bd;
								font-size: 24px;
							 }
							 h4 {
								font-size: 14px;
							 }
							 img {
								width: 30px;
								height: 30px;
								border-radius: 50px;
								outline: 1px solid #FFFFFF;
								

							
						}
					}
					.flex-item {
						display: flex;
						align-items: center;
						gap: 1rem;
						padding: 10px ;
						
					   img {
						   width: 40px;
						   height: 40px;
						   border-radius: 15px;
					   }
					  i {
						background: #3A3B3C;
						padding: 12px;
						color: #B8BBBF;
						border-radius: 30px;
						font-size: 24px;
					  }
					   h4 {
						   font-size: 16px;
						   text-transform: capitalize;
					   }
					}
				.flex-end {
					padding: 10px;
					display: flex;
					align-items: center;
					gap: 1rem;
					
					img {
						width: 40px;
						height: 40px;
						border-radius: 30px;
					}
					h3 {
						font-size: 16px;
					}
				}
			}
			
				
			}
			h1 {
				background: #3A3B3C;
				padding: 1px;
				margin: 5px;
				// margin-top: 50px 0;
			}
			.left-sd-end {
				a {
					font-size: 16px;
					color:#4E4F50 ;
				}
			}
		}
		// right sidebar design start
		.right-sidebar {
			z-index: -1;
			top: 63px;
			position: fixed;
			width: 350px;
			height: 100vh;
			overflow: auto;
			right: 0;
			// top: 10px;
			background: #18191A;
			padding: 10px 20px 70px;

			.right-header {
				display: flex;
				align-items: center;
				justify-content: space-between;

				h3 {
					font-size: 15px;
				}

				i {
					&:hover {
						background: #3A3B3C;
					}
					cursor: pointer;
					transition: 0.4s all ease;
					font-size: 24px;
					border-radius: 50%;
					padding: 5px 7px;
				}
			}
			.rs-admin {
				margin: 10px 0;
				.flex {
					&:hover {
						background: #4E4F50;
					}
					cursor: pointer;
					transition: 0.4s all ease;
					padding: 8px ;
					display: flex;
					align-items: center;
					gap: 0.7rem;
					margin: 15px 0;
					border-radius: 5px;
					img {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						outline: 1px solid #B8BBBF;
					}
					h5 {
						font-size: 18px;
					}
				}
				ul {
					li {
						cursor: pointer;
						&:hover {
							background: #4E4F50;
						}
						transition: 0.3s all ease;
						border-radius: 5px;
						.flex-info {
							display: flex;
							gap: 0.7rem;
							// margin-left: 20px;
							margin: 0 25px;
							padding: 5px 0;
							
							i {
								color: #B8BBBF;
								font-size: 18px;
								
							}
							span {
								font-size: 15px;
								color: #B8BBBF;
							}
						}
					}
				}

			}
			.request {
				.request-header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					h3 {
						color: #E4E6EB;
						font-size: 18px;
					}
					span {
						&:hover {
							background: #3A3B3C;
						}
						cursor: pointer;
						transition: 0.8s all ease;
						color: #2466bd;
						padding:5px 8px ;
						border-radius: 5px;
					}
				}
				.user-request {
					cursor: pointer;
					transition: 0.2s all ease;
					&:hover {
                    background: #303031;
					}
					padding: 10px;
					border-radius: 10px;
					display: flex;
                    gap: 0.5rem;
					.user-img {
						img {
						width: 60px;
						height: 60px;
						border-radius: 50%;
						}
					}
					.user-info {
						position: relative;
						h4 {

						}
						.mutual {
							display: flex;
							align-items: center;
							gap: 0.5rem;
							.img-thumb{
								display: flex;
								align-items: center;
								img {
									width: 20px;
									height: 20px;
									border-radius: 50%;
									outline: 1px solid #242526;
								}
								img:last-child {
									margin-left: -5px;
								}
							}
							span {
								font-size: 12px;
							}
						}
						.real-request {
							display: flex;
							gap: 2rem;
							margin: 10px 0;
							button {
								padding:10px 20px ;
								border: none;
								color: #FFFFFF;
								font-size: 16px;
								border-radius: 5px;
							}
							button:first-child {
								background: #4395FF;
								
							}
							button:last-child {
								&:hover {
									background: #4E4F50;
								}
								transition: 0.4s all ease;
								background: #3A3B3C;
								
							}
						}
						small {
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0px;
						}
					}
				}

			}
			h2 {
				font-weight: 400;
				margin-top: 25px;
			}
			.user-girft {
				&:hover {
					background: #3A3B3C;
				}
				transition: 0.4s all ease;
				cursor: pointer;
				display: flex;
				gap: 0.5rem;
				padding: 8px 10px;
				border-radius: 5px;
				i {
					font-size: 35px;
					color: #4395FF;
				}
				h4 {
					font-weight: 400;
					font-size: 17px;
					span {
						font-weight: 400;
						font-size: 14px;
					}
				}
			}
			.rs-contacts {
				.contact-header {
					margin-bottom: 10px;
					font-weight: 400;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 30px;
					.contact-icon {
						display: flex;
						gap: 1.5rem;
						i {
							&:hover {
								background: #393A3B;
							}
							font-size: 18px;
							transition: 0.5s all ease;
							padding: 5px 7px;
							border-radius: 50%;
							cursor: pointer;
						}
					}
				}
				.re-user {
					ul {
						li {
							position: relative;
							cursor: pointer;
							&:hover {
								background: #3A3B3C;
							}
							transition: 0.4s all ease;
						    padding: 9px 7px;
							border-radius: 10px;
							display: flex;
							align-items: center;
							gap: 0.5rem;
							img {
								outline: 1.5px solid #4395FF;
								width: 30px;
								height: 30px;
								border-radius: 50%;
							}
						}
					}
					span {
						
						top: -30px;
						left: 15px;
						position: absolute;
						font-size: 50px;
						color: #46AB5E;
						padding:  10px;
					}
				}
			}
			.rs-group {
				
				h2 {
					font-size: 20px;
					margin: 20px 0;
				}
				ul {
					li {
						cursor: pointer;
						.rs-gp-info {
							&:hover {
								background: #3A3B3C;
							}
							
							padding: 5px 7px;
							border-radius: 10px;
							margin: 5px 0;
							display: flex;
							align-items: center;
                            gap: 0.5rem;
							img {
								outline: 1.5px solid #4395FF;
								width: 40px;
								height: 40px;
								border-radius: 50%;
							}
						}
					}
				}
				
				}
				.rs-end {
					cursor: pointer;
					&:hover {
						background: #3A3B3C;
					}
					display: flex;
					align-items: center;
					gap: 1.5rem;
					margin-top: 20px;
					transition: 0.4s all ease;
					padding: 8px;
					border-radius: 10px;
					i {
						font-size: 22px;
						background: #4E4F50;
						padding: 8px;
						border-radius: 50%;
					}
					h4 {
						font-size: 18px;
						font-weight: normal;
					}
				}
			}
		

		// right sidebar design end
	}
	// middle part design start
	.middle {
		width: 38%;
		height: 100vh;
		margin: auto;
		padding: 90px 0;
		.story-section {
			background: #242526;
			padding: 12px 15px;
			border-radius: 10px;
			.story-header {
				width: 100%;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				cursor: pointer;
				.flex {
					display: flex;
					align-items: center;
					gap: 0.3rem;
					position: relative;
					&:first-child {
						color: #2466bd;
					}
					&:first-child ::after {
						content: "";
						left: -69px;
						bottom: -12px;
						border-bottom: 3px solid #2466bd;
						position: absolute;
						width: 280%;
						
					}
					i {
						font-size: 22px;
						color: #2466bd;
					}
				}
			}
			.story-body {
                 padding: 20px 0;
				ul {
					width: 100%;
					height: 30vh;
					display: grid;
					grid-template-columns: repeat(4,1fr);
					grid-gap: 0.7rem;
				
					li {
						border-radius: 10px;
						&:hover .user-img-thumb .user-story-img {
							transform: scale(1.05);
							
						}
						
						overflow: hidden;
						height: 200px;
						background: transparent;
						cursor: pointer;
						.admin-img-thumb {
							position: relative;
							border-radius: 10px;
							// overflow: hidden;
							
							img {
								width: 100%;
								height: 150px;
								object-fit: cover;
                                border-radius: 10px;
							}
							i {
								font-size: 18px;
								position: absolute;
								bottom: -8px;
								left: 50%;
								transform: translateX(-50%);
								padding: 4px;
								background: #2466bd;
                                border-radius: 50%;
                                outline: 3px solid #242526;
							}
						
						}
						.admin-create-story {
							margin: 12px 0;
							text-align: center;


							span {
								font-size: 13px;
							}
						}
						.user-img-thumb {
							position: relative;
							height: 100%;
							
							
							&::after {
								content: "";
								position: absolute;
								width: 100%;
								height: 100%;
								top: 0;
								left: 0;
								background: rgba(0, 0, 0, 0.4);
								display:  block;
							}
							.user-story-img {
								transition: 0.3s all ease;
								overflow: hidden;
								border-radius: 10px;
								width: 100%;
								height: 100%;
                                object-fit: cover;
								border-radius: 10px;
								display: block;
							}
							.user-profile-img {
								z-index: 1;
								width: 35px;
								height: 35px;
								object-fit: cover;
								border-radius: 50%;
								position: absolute;
								top: 5px;
								left: 10px;
								outline: 3px solid #242526;
							}
							.user-name {
								z-index: 1;
								position: absolute;
								bottom: 10px;
								left: 0px;
								width: 100%;
								// transform: translateX(-50%);
								text-align: center;

							}
							span {
								font-size: 12px;
								color: #FFFFFF;
								font-weight: 600;
							}
						}
					}
				}
			}
		}
		
		// middle post design start
		.write-post {
			background: #242526;
			padding: 12px 15px;
			border-radius: 10px;
			margin: 20px 0;
			.post-header {
				display: flex;
				// align-items: center;
				gap: 1rem;

				img {
					cursor: pointer;
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
				input {
					width: 100%;
					background: #3A3B3C;
					border: none;
					color: #FFFFFF;
					font-size: 16px;
					border-radius: 30px;
					display: block;
				    padding: 10px 20px;
					cursor: pointer;
					transition: 0.4s all ease;
					&:hover {
						background: #4E4F50;
					}
					}
				}
				hr {
					margin: 10px 15px;
					color: #4E4F50;
				}
				.post-footer {
					ul {
						display: flex;
						align-items: center;
						gap: 1rem;
						li {
							
							.flex {
								
								&:hover {
									background: #3A3B3C;
								}
								transition: 0.2s all ease;
								// background: #2466bd;
								padding: 5px 10px;
								margin-left: 8px;
								border-radius: 10px;
								i {
								    color: #46AB5E;
									font-size: 23px;
								}
								span {
									font-size: 15px;
									color: #B8BBBF;
								}
							}
							&:first-child i {
								color: red;
							}
							&:last-child i {
								color: burlywood;
							}
						}
					}
				}
			}
		// public post design start
		.public-post {
			.fb-post-start {
				background: #242526;
			    padding: 12px 15px;
			    border-radius: 10px;
			    margin: 20px 0;
				.fb-post-header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					.fb-user-in {
						display: flex;
						align-items: center;
						gap: 0.5rem;
						img {
							width: 35px;
							height: 35px;
							border-radius: 50%;
						}
						h3 {
							font-size: 20px;
							color: #B8BBBF;
							font-weight: 400;
							span {
								font-size: 14px;
							}
						}

					}
					.fb-post-icon {
						display: flex;
						gap: 1rem;
						i {
                            &:hover {
								background: #4E4F50;
							}
							transition: all 0.4s ease;
							font-size: 22px;
							// background: #2466bd;
							padding: 5px;
							border-radius: 50%;
						}
					}
				}
				.user-post {
					.caption {
						font-size: 16px;
						margin: 5px 0px 10px;
					}
					.user-img {
						
						img {
							width: 100%;
							height: 100%;
						}
					}
					.react {
						display: flex;
						justify-content: space-between;
						.other-react {
							ul {
								display: flex;
								align-items: center;
							   margin-left: 10px;
								li {
									
									.like {
										width: 20px;
										height: 20px;
									}
									span {
										font-size: 16px;
										margin-left: 0.3rem;
										
										
									}
								}
							}
						}
						.comment {
							display: flex;
							align-items: center;
							margin-right: 10px;
							gap: 0.3rem;
							cursor: pointer;
						}
					}
					hr {
						margin: 10px;
						color: #3A3B3C;
					}
					.react-box {
						ul {
							display: flex;
							align-items: center;
							justify-content: space-around;
							li {
								.react-part {
									&:hover {
										background: #3A3B3C;
									}
									transition: 0.5s all ease;
									display: flex;
									align-items: center;
									gap: 0.4rem;
									padding: 8px 40px;
									border-radius: 5px;
									cursor: pointer;
									span {
										font-size: 14px;

									}
                                 i {
									
									font-size: 20px;
                                    
								 }
								}
							}
						}
					}
					hr {
						background: #393A3B;
						margin: 4px 0 15px;
					}
					.comment-section {
						display: flex;
						align-items: center;
                        gap: 0.5rem;
						.comment-img {
							img {
								width: 35px;
								height: 35px;
								border-radius: 50PX;
                                
							}
						}
						.comment-write {
							display: inline-block;
							width: 100%;
							height: 100%;
							padding: 10PX 0PX;
							border: none;
							background:  #3A3B3C;
							// border: 2px solid #3A3B3C;
							border-radius: 30px;
							
							input {
								background: none;
								border: none;
								color: #B8BBBF;
								font-size: 16px;
								margin-left: 10px;
							}
						}
					}
				
							}
						}
					
					}
					}
			
			
		
		// public post design end


		
		// middle post design end
	
	// middle part design end
	// main part design end
	
	

	

